*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,246,145,1) 70%);
  font-size: 1.6rem;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  height: 10rem;
  width: 30rem;
}

.mid{
  display: flex;
  justify-content: center;
}

.mid .img1{
  height: 45rem;
  width: 40rem;
}

.mid .para ul li{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}

.mid .para p span{
  font-weight: 500;
}

.mid .img2{
  height: 30rem;
  width: 50rem;
}

.below1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.below2 .img3{
  height: 50rem;
  width: 150rem;
}

.below3{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 0rem;
  border-bottom: 1rem red;
}

.below4{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 0rem;
}

.below5{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 0rem;
}

.footer{
  background-color: red;
  height: 10rem;
  width: 151.9rem;
  color: white;
}

.footer ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
}

.footer ul li{
  margin-top: 4.2rem;
}

@media (max-width: 1200px) and (min-width: 991px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 990px) and (min-width: 768px){
  html{
    font-size: 45%;
  }
}

@media (max-width: 767px) and (min-width: 481px){
  html{
    font-size: 35%;
  }
}

@media (max-width: 480px){
  html{
    font-size: 25%;
  }
}